# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment / Env
# ===============================
venv/
.env
.env.*

# ===============================
# MacOS
# ===============================
.DS_Store

# ===============================
# IDEs
# ===============================
.vscode/
.idea/

# ===============================
# Model Weights / Checkpoints
# ===============================
backend/weights/
weights/
*.pt
*.pth
*.onnx
*.safetensors

# ===============================
# ML / Torch / HF Cache
# ===============================
.cache/
.huggingface/
torch_cache/

# ===============================
# Logs / Runtime
# ===============================
*.log
logs/

# ===============================
# Local Test Files
# ===============================
thoughts/
backend/cat.png

# Assets
assets/
